form#add-post-form.bg-light.p-5.contact-form
  .form-group
    input#add-post-form-name.form-control(
      type='text'
      placeholder='Post title'
    )
    small.form-text.text-danger.text-center
  .form-group
    textarea#add-post-form-content.form-control(
      cols='30'
      rows='7'
      placeholder='Post text'
    )
    small.form-text.text-danger.text-center
  .form-group
    button#add-post-form-submit.btn.btn-primary.py-3.px-5 Publish
