include ../../components/common/comment/item

.col-lg-8.order-lg-last.ftco-animate
  h2.mb-3= post.name
  != post.body
  .about-author.d-flex.p-4.bg-light
    .bio.mr-5
      img.img-fluid.mb-4(
        src= post.author.avatar
        alt= post.author.name
      )
    .desc
      h3= post.author.name
      p= post.author.bio

  .pt-5.mt-5
    h3.mb-5 #{post.comments.length} Comments
    ul.comment-list
      each comment in post.comments
        +comment(comment)

    .comment-form-wrap.pt-5
      h3.mb-5 Leave a comment
      form.p-5.bg-light(action='#')
        .form-group
          label(for='name') Name *
          input#name.form-control(type='text')
        .form-group
          label(for='email') Email *
          input#email.form-control(type='email')
        .form-group
          label(for='website') Website
          input#website.form-control(type='url')
        .form-group
          label(for='message') Message
          textarea#message.form-control(name='' cols='30' rows='10')
        .form-group
          input.btn.py-3.px-4.btn-primary(type='submit' value='Post Comment')
