include ../../components/common/comment/item

.col-lg-8.order-lg-last.ftco-animate
  h2.mb-3= post.name
  != post.body
  .about-author.d-flex.p-4.bg-light
    .bio.mr-5
      img.img-fluid.mb-4(
        src= post.author.avatar
        alt= post.author.name
      )
    .desc
      h3= post.author.name
      p= post.author.bio

  .pt-5.mt-5
    h3.mb-5 #{post.comments.length} Comments
    ul#comments.comment-list
      each comment in post.comments
        +comment(comment)

    .comment-form-wrap.pt-5
      h3.mb-5 Leave a comment
      include _form
